[submodule "Imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "ImguiText"]
	path = lib/ImguiText
	url = https://github.com/lopea/ImGuiColorTextEdit
[submodule "nfd"]
	path = lib/nfd
	url = https://github.com/mlabbe/nativefiledialog
