[submodule "Imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "ImguiTextEditor"]
	path = lib/ImguiText
	url = https://github.com/BalazsJako/ImGuiColorTextEdit
